<ion-header [translucent]="true">
  <ion-toolbar color="dark"> <!--mode=ios deixa centralizado-->
    <ion-title>
      Mercadinho do Zé
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-title>Lista de produtos:</ion-title>
    <ion-item-sliding *ngFor="let produto of itens; index as i"> 
      <ion-item class="itens"  (click)="presentActionSheet(produto)">
       
        <!-- Bolinha Branca -->
        <ion-icon name="radio-button-off" *ngIf="!produto.status"></ion-icon>
        <ion-label *ngIf="!produto.status"><strong>Produto:</strong>{{produto.nome}}</ion-label>
        <ion-label *ngIf="!produto.status"><strong>Quant:</strong>{{produto.quantia}}</ion-label>

        <!-- Bolinha Verde -->
        <ion-icon name="checkmark-circle" color="success" *ngIf="produto.status"></ion-icon>
        <ion-label *ngIf="produto.status"><del><strong>Produto:</strong>{{produto.nome}}</del>></ion-label>
        <ion-label *ngIf="produto.status"><del><strong>Quant:</strong>{{produto.quantia}}</del>></ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="deletarItem(produto.id)"color="danger"><ion-icon name="trash-outline" style="width: 20px; height: 20px"></ion-icon></ion-item-option> <!--Botão--> 
        <ion-item-option color="primary"><ion-icon name="refresh-outline"  style="width: 20px; height: 20px"></ion-icon></ion-item-option> <!--Botão--> 
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
<!-- Botão Flutuante -->
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="alertando()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
  <div id="container">
    <ion-button routerLink="/contato" color="danger">Management</ion-button>
  </div>
</ion-content>
