<ion-header [translucent]="true">
  <ion-toolbar color="dark"> <!--mode=ios deixa centralizado-->
    <ion-title>
      Minhas compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-title>Lista de produtos:</ion-title>
    <ion-item-sliding *ngFor="let produto of itens; index as i"> 
      <ion-item class="itens" (click)="adicionarItem(produto.id)">
        <ion-label>{{produto.nome}} / {{produto.quantia}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deletarItem(produto.id)"color="danger"><ion-icon name="trash-outline" style="width: 20px; height: 20px"></ion-icon></ion-item-option> <!--Botão--> 
        <ion-item-option color="primary"><ion-icon name="refresh-outline"  style="width: 20px; height: 20px"></ion-icon></ion-item-option> <!--Botão--> 
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div id="container">
    <ion-button routerLink="/contato" color="danger">Management</ion-button>
  </div>
<!-- Botão Flutuante -->
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="alertando()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
